body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.login-form{
    margin: 30px;
    padding: 40px;
    border-radius:15px;
    box-shadow: 5px 5px 5px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin:  0 20px;
    padding: 20px;
    color: white;
    border-radius: 15px;
}
.deposit{
    background-color:lightseagreen;
}
.balance{
    background-color: orange;
}
.withdraw{
    background-color: lightsalmon;
}
.area{
    margin-top: 40px;
}
